
.animated {
  @include animation-duration(1s);
  @include animation-fill-mode(both);
}

.animated.infinite {
  @include animation-iteration-count(infinite);
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  @include animation-name(fadeInUp);
}


@include keyframes(waterDrop) {
  0% {
    opacity: 0
  }
  30% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}

@include keyframes(waterDropSmall) {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}
