
$black:     #282828;

$lt-grey:   #d8d9d8;
$grey:      #6c6c6c;
$dk-grey:   #4c4c4e;

$purple:    #a8268e;

$orange:    #f47e20;

$turq:      #7fbfb9;
$lime:      #aed137;
$lt-green:  #0fba70;
$green:     #438e47;
$dk-green:  #115663;

$sky-blue:  #c7eafb;
$blue:      #0cb3da;

$sky-white: #fcfdf3;

$red:       #d83945;

$yellow:    #fac512;


