
.col-left,
.col-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.col-left {
  left: 0;
}

.col-right {
  right: 0;
}


.col-1-2 {
  float: left;
  width: 50%;
}
