
[class*="icon-"] {
  display: inline-block;
}

.icon-recommendations {
  width: 25px;
  height: 23px;
  background: $icon-recommendations no-repeat;
}

.icon-close {
  width: 39px;
  height: 39px;
  background: $icon-close no-repeat;
}

// Segment Avatars

.icon-enthusiasts {
  width: 47px;
  height: 50px;
  background: $icon-enthusiasts no-repeat;
}

.icon-flexibles {
  width: 47px;
  height: 51px;
  background: $icon-flexibles no-repeat;
}

.icon-indulgers {
  width: 47px;
  height: 51px;
  background: $icon-indulgers no-repeat;
}

.icon-traditionals {
  width: 51px;
  height: 52px;
  background: $icon-traditionals no-repeat;
}

.icon-hispanics {
  width: 47px;
  height: 50px;
  background: $icon-hispanics no-repeat;
}

// Mood Avatas

[class*="icon-mood-"] {
  position: relative;
  z-index: 10;
  display: block;
  margin: 0 auto -4px;
  background: $sprite-moods no-repeat;
}

.icon-mood-angry {
  width: 84px;
  height: 92px;
  background-position: 0 -397px;
}

.icon-mood-hopeful {
  width: 84px;
  height: 92px;
  background-position: 0 -297px;
}

.icon-mood-frustrated {
  width: 84px;
  height: 92px;
  background-position: 0 -197px;
}

.icon-mood-determined {
  width: 84px;
  height: 92px;
  background-position: 0 -99px;
}

.icon-mood-excited {
  width: 84px;
  height: 92px;
}


// Modal Segment Avatars

.modal-segments-01 {
  width: 272px;
  height: 93px;
  background: $modal-segments-01 no-repeat;
}

.modal-segments-02 {
  width: 130px;
  height: 64px;
  background: $modal-segments-02 no-repeat;
}

// Stage Assets

.bubbles {
  width: 82px;
  height: 303px;
  background: $bubbles no-repeat;
}

.circle-stay-s3 {
  width: 251px;
  height: 173px;
  background: $circle-stay-s3 no-repeat;
}

// Arrows

[class*="arrow-"] {
  display: inline-block;
}

.arrows-all {
  width: 18px;
  height: 41px;
  background: $arrows-all no-repeat; 
}

.arrow-up-full-view {
  width: 115px;
  height: 115px;
  background: $arrow-up-full-view no-repeat; 
}

.arrow-left-purple-s3 {
  width: 117px;
  height: 11px;
  background: $arrow-left-purple-s3 no-repeat;
}

[class*="arrow-thinking-"] {
  background: $arrows no-repeat;
  width: 31px;
  height: 11px;
}

.arrow-thinking-2 {
  background-position: 0 -14px;
}

.arrow-thinking-3 {
  background-position: 0 -27px;
}

.arrow-thinking-4 {
  background-position: 0 -42px;
}


// Fountain Arrows

.arrow-down-s1 {
  width: 168px;
  height: 188px;
  background: $arrow-down-s1 no-repeat;
}



