
[class*="icon-"] {
  display: inline-block;
}

.icon-enthusiasts {
  width: 47px;
  height: 50px;
  background: $icon-enthusiasts no-repeat;
}

.icon-flexibles {
  width: 47px;
  height: 51px;
  background: $icon-flexibles no-repeat;
}

.icon-indulgers {
  width: 47px;
  height: 51px;
  background: $icon-indulgers no-repeat;
}

.icon-traditionals {
  width: 51px;
  height: 52px;
  background: $icon-traditionals no-repeat;
}

.bubbles {
  width: 82px;
  height: 303px;
  background: $bubbles no-repeat;
}


[class*="arrow-"] {
  display: inline-block;
}

[class*="arrow-thinking-"] {
  background: $arrows no-repeat 0 0;
  width: 31px;
  height: 11px;
}

.arrow-thinking-2 {
  background-position: 0 -14px;
}

.arrow-thinking-3 {
  background-position: 0 -27px;
}

.arrow-thinking-4 {
  background-position: 0 -42px;
}


/** Fountain Arrows **/

.arrow-down-s1 {
  width: 168px;
  height: 188px;
  background: $arrow-down-s1 no-repeat;
}



