
/* $sprite: image-url("sprite.svg"); */

$icon-recommendations: image-url("icon-recommendations.png");

$icon-enthusiasts:  image-url("icon-enthusiasts.svg");
$icon-flexibles:    image-url("icon-flexibles.svg");
$icon-indulgers:    image-url("icon-indulgers.svg");
$icon-traditionals: image-url("icon-traditionals.svg");

$path-enthusiasts:  image-url("path-enthusiasts.png");
$path-flexibles:    image-url("path-flexibles.png");
$path-indulgers:    image-url("path-indulgers.png");
$path-traditionals: image-url("path-traditionals.png");



$bubbles: image-url("bubbles.png");

$circle-stay-s3: image-url("circle-stay-s3.png");

$paths-circles-s4: image-url("paths-circles-s4.png");

$circles-s5: image-url("circles-s5.png");




$arrows: image-url("arrows.svg");

$arrow-triggers: image-url("arrow-triggers.png");

$arrow-down-s1: image-url("arrow-down-s1.png");

$arrow-left-purple-s3: image-url("arrow-left-purple-s3.png");

$arrows-s5: image-url("arrows-s5.png");




$bg-s1: image-url("bg-s1.png");
$bg-s2: image-url("bg-s2.png");
$bg-s3: image-url("bg-s3.png");
$bg-s4: image-url("bg-s4.png");
$bg-s5: image-url("bg-s5.png");
