
/* $sprite: image-url("sprite.svg"); */

$icon-enthusiasts:  image-url("icon-enthusiasts.svg");
$icon-flexibles:    image-url("icon-flexibles.svg");
$icon-indulgers:    image-url("icon-indulgers.svg");
$icon-traditionals: image-url("icon-traditionals.svg");

$bubbles: image-url("bubbles.png");


$arrows: image-url("arrows.svg");

$arrow-triggers: image-url("arrow-triggers.png");


$arrow-down-s1: image-url("arrow-down-s1.png");


$bg-s1: image-url("bg-s1.png");
$bg-s2: image-url("bg-s2.png");
