
.stage {
  @include cf;
  position: relative;
  width: 100%;
  height: 100%;
}

.stage-1 {
  @include background(linear-gradient(#ceecfa, #c1e8fb));
}

.stage-2 {
  @include background(linear-gradient(#daf0f8, #ceecfa));
}

.stage-3 {
  @include background(linear-gradient(#e8f5f6, #daf0f8));
}

.stage-4 {
  @include background(linear-gradient(#f4faf3, #e8f5f6));
}

.stage-5 {
  @include background(linear-gradient(#fffef2, #f4faf3));
}

.stage-left {
  padding: 40px 50px 40px 80px;
  border-right: 30px solid $dk-grey;
}

.stage-right {
  padding: 40px 80px 40px 60px;
  background: #fff;
  border-left: 30px solid $dk-grey;
}

[data-segment] {
	@include transition(all 0.15s ease-in);  
}

.fade-back {
  opacity: 0.25;
}