
.stage {
  position: relative;
  width: 100%;
  height: 100%;
}

.stage-1 {
  @include background(linear-gradient(#ceecfa, #c1e8fb));
}

.stage-2 {
  @include background(linear-gradient(#daf0f8, #ceecfa));
}

.stage-3 {
  @include background(linear-gradient(#e8f5f6, #daf0f8));
}

.stage-4 {
  @include background(linear-gradient(#f4faf3, #e8f5f6));
}

.stage-5 {
  @include background(linear-gradient(#fffef2, #f4faf3));
}

.stage-left,
.stage-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.stage-left {
  left: 0;
  margin-right: 30px;
  padding: 40px 50px 40px 80px;
}

.stage-right {
  right: 0;
  margin-left: 30px;
  padding: 40px 80px 40px 60px;
  background: #fff;
}

[data-segment] {
	@include transition(all 0.15s ease-in);  
}

.fade-back {
  opacity: 0.25;
}