
.section-nav {
  @include vertical-center(fixed);
  left: 20px;
  z-index: 100;
  opacity: 1;
  margin-top: -32px;
}

.section-nav a {
    @include font-size(12px);
  position: relative;
  z-index: 20;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $lt-green;
  color: #fff;
  font-weight: $bold;
  font-style: italic;
  text-align: center;
  line-height: 1.9;
  
  &.active {
    background: #fff;
    border: 3px solid $lt-green;
    color: $lt-green;
    line-height: 1.5;
  }
}

.section-nav li {
  position: relative;
  margin-bottom: 30px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.tooltip {
  @include font-size(14px);
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px 10px 2px 34px;
  background: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: $dk-grey;
  font-family: $sans;
  font-weight: $bold;
  white-space: nowrap;
  max-width: 220px;
  text-transform: uppercase;
}

