

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  left: 20px;
}

#fp-nav a {
  position: relative;
  z-index: 20;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $lt-green;
  
  &.active {
    background: #fff;
    border: 3px solid $lt-green;
  }

  span:before {
    @include font-size(12px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    font-weight: $bold;
    font-style: italic;
    text-align: center;
  }
}

#fp-nav .active span:before {
  top: -3px;
  color: $lt-green;
}

#fp-nav li {
  position: relative;
  margin-bottom: 30px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

#fp-nav li:nth-child(1) span:before {
  content: "5";
}

#fp-nav li:nth-child(2) span:before {
  content: "4";
}

#fp-nav li:nth-child(3) span:before {
  content: "3";
}

#fp-nav li:nth-child(4) span:before {
  content: "2";
}

#fp-nav li:nth-child(5) span:before {
  content: "1";
}

#fp-nav li:nth-child(6) span:before {
  content: "0";
}

#fp-nav li:nth-child(7) span:before {
  content: "F";
}


.fp-tooltip {
  @include font-size(14px);
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px 10px 2px 34px;
  background: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: $dk-grey;
  font-family: $sans;
  font-weight: $bold;
  white-space: nowrap;
  max-width: 220px;
  text-transform: uppercase;
}

