
.stage-paths {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 66px;
  height: 100%;
  margin-left: -33px;
  background: $grey;
}

.stage-mood {
  @include horizontal-center(absolute);
  top: 50px;
  z-index: 10;
  
  .mood {
    @include font-size(14px);
    padding: 4px 8px;
    background: $lt-grey;
    border: 5px solid $dk-grey;
    color: $dk-grey;
    line-height: 1;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}

.stage-paths [class*="path-"] {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;

  &.path-end {
    top: 160px;
  }
}

.stage-paths {
  .path-5 {
    left: 7px;
    background: $dk-green;
  }

  .path-1 {
    left: 19px;
    background: $purple;
  }
  
  .path-2 {
    left: 31px;
    background: $orange;
  }
  
  .path-3 {
    right: 19px;
    background: $lime;
  }
  
  .path-4 {
    right: 7px;
    background: $blue;
    background: repeating-linear-gradient(180deg, $blue, $blue 6px, $yellow 6px, $yellow 16px);
  }
}
