
.stage-position {
  @include font-size(16px);
  margin-bottom: 10px;
  font-style: italic;
}

.stage-title {
  margin-bottom: 10px;
}

.doing-thinking {
  padding-top: 20px;
  
  .col {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 60px;
  }
  
  h3 {
    margin-bottom: 6px;
    
    .label-all {
      margin-left: 4px;
      font-size: 11px;
      font-style: italic;
      text-transform: none;
    }
  }
  
  p {
    @include font-size(12px);
    @include line-height(18px);
    margin-bottom: 12px;
  }
  
  .arrows-all {
    position: absolute;
    top: 3px;
    left: -25px;
  }
}

.doing-thinking li {
  position: relative;
  @include font-size(14px);
  @include line-height(21px);
  margin-bottom: 24px;
}

.doing-thinking [class*="arrow-"] {
  position: absolute;
  top: 4px;
  left: -38px;
}