
.full-view {
  height: 850px;
  background: $grey $bg-full-view-gradient repeat-x left top;
}

.full-fountain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $bg-full-view no-repeat center top;
}

.full-view-left,
.full-view-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.full-view-left {
  left: 0;
}

.full-view-right {
  right: 0;
}

.full-view .scroll-directions,
.full-view-right h3,
.full-view-right .number {
  @include font-size(20px);
  @include line-height(22px);
  font-weight: $light;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.full-view-right h3 {
  margin-bottom: 2px;
}

.full-view-right p {
  @include font-size(14px);
  @include line-height(20px);
  max-width: 260px;
  font-weight: $semi;
}

.full-view-left {
  .scroll-up-block {
    position: absolute;
    top: 260px;
    right: 200px;
    z-index: 20;
    width: 380px;
    padding: 32px 0 0 140px;
    
    .arrow-up-full-view {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


.full-view [class*="stage-label-"] {
  position: absolute;
  left: 280px;
  z-index: 20;
  
  .number {
    position: absolute;
    top: 0;
    left: -88px;
    width: 80px;
    text-align: right;
  }
}

.stage-label-5 {
  top: 78px;
}

.stage-label-4 {
  top: 162px;
}

.stage-label-3 {
  top: 314px;
}

.stage-label-2 {
  top: 442px;
}

.stage-label-1 {
  top: 558px;
}

.dish-logo {
  position: fixed;
  top: 60px;
  left: 72px;
  z-index: 20;
  
  h4 {
    @include font-size(11px);
    display: block;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .logo {
    width: 70px;
    height: 30px;
    margin-bottom: 8px;
    background: $logo-dish no-repeat;
  }
}



