
.intro {
  min-height: 880px;
  background: $grey;
  color: #fff;
  
  h2 {
    @include font-size(44px);
    font-weight: $light;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  
  h3 {
    @include font-size(24px);
    margin-bottom: 4px;
    font-weight: $bold;
    text-transform: none;
  }
  
  p {
    @include font-size(14px);
  }
}

.intro-section [data-segment] {
  position: absolute;
  
  &:nth-child(2) {
    top: 174px;
  }

  &:nth-child(3) {
    top: 278px;
  }

  &:nth-child(4) {
    top: 400px;
  }

  &:nth-child(5) {
    top: 512px;
  }

  &:nth-child(6) {
    top: 618px;
  }
}


.intro-left,
.intro-right {
  padding: 86px 140px 0;
}

.intro-left {
  text-align: right;
  
  h2 {
    margin-right: -4px;
  }
  
  [data-segment] {
    right: 140px;
    padding-left: 140px;
  }
}

.intro-right {

  [data-segment] {
    left: 140px;
    padding-right: 140px;
  }
  
  .position {
    position: absolute;
    top: 60px;
    left: 140px;
    font-style: italic;
  }
}

.segment-paths {
  position: absolute;
  top: 0;
  left: 50%;
  width: 199px;
  margin-left: -99px;
  
  [class*="path-"] {
    position: absolute;
    top: 0;
  }
}

.path-enthusiasts {
  left: 54px;
  width: 91px;
  height: 246px;
  background: $path-enthusiasts no-repeat;
}

.path-flexibles {
  right: 34px;
  width: 111px;
  height: 359px;
  background: $path-flexibles no-repeat;
}

.path-indulgers {
  left: 28px;
  width: 118px;
  height: 473px;
  background: $path-indulgers no-repeat;
}

.path-traditionals {
  right: 16px;
  width: 132px;
  height: 588px;
  background: $path-traditionals no-repeat;
}

.path-hispanics {
  left: 12px;
  width: 134px;
  height: 700px;
  background: $path-hispanics no-repeat;
}