
.stage-1 .stage-right {
  padding-top: 200px;
}

.stage-1 .stage-left {
  background: $bg-s1 no-repeat right top;
}

.stage-1 .triggers {
  top: 84px;
}

.stage-1 .barriers {
  top: 194px;
  right: 210px;
}

.stage-1 .violations {
  top: 476px;
}

.stage-1 .pool {
  @include font-size(20px);
  position: absolute;
  right: 180px;
  bottom: 100px;
  font-weight: $semi;
  text-transform: uppercase;
}