
.stage-3 .stage-left {
  background: $bg-s3 no-repeat right top;
}

.stage-3 .triggers {
  top: 84px;
}

.stage-3 .barriers {
  top: 460px;
  right: 170px;
}

.stay-s3 {
  position: absolute;
  top: 250px;
  right: 20px;
}
