@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic,700italic);
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #4c4c4e;
  font-family: "Open Sans", Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 44px;
  font-size: 2.75rem;
  margin-left: -4px;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
}

p {
  letter-spacing: 0.02em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.label {
  font-weight: 700;
}

.body p,
.body ul,
.body ol {
  margin-bottom: 24px;
}
.body p:last-child, .body p.label,
.body ul:last-child,
.body ul.label,
.body ol:last-child,
.body ol.label {
  margin-bottom: 0;
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}

/* $sprite: image-url("sprite.svg"); */
[class*="icon-"] {
  display: inline-block;
}

.icon-enthusiasts {
  width: 47px;
  height: 50px;
  background: url('/assets/images/icon-enthusiasts.svg?1408637448') no-repeat;
}

.icon-flexibles {
  width: 47px;
  height: 51px;
  background: url('/assets/images/icon-flexibles.svg?1408637448') no-repeat;
}

.icon-indulgers {
  width: 47px;
  height: 51px;
  background: url('/assets/images/icon-indulgers.svg?1408637448') no-repeat;
}

.icon-traditionals {
  width: 51px;
  height: 52px;
  background: url('/assets/images/icon-traditionals.svg?1408637448') no-repeat;
}

.bubbles {
  width: 82px;
  height: 303px;
  background: url('/assets/images/bubbles.png?1408641804') no-repeat;
}

.circle-stay-s3 {
  /*   width: 128px; */
  width: 251px;
  height: 173px;
  background: url('/assets/images/circle-stay-s3.png?1408643525') no-repeat;
}

[class*="arrow-"] {
  display: inline-block;
}

.arrow-left-purple-s3 {
  width: 117px;
  height: 11px;
  background: url('/assets/images/arrow-left-purple-s3.png?1408642816') no-repeat;
}

[class*="arrow-thinking-"] {
  background: url('/assets/images/arrows.svg?1408637448') no-repeat;
  width: 31px;
  height: 11px;
}

.arrow-thinking-2 {
  background-position: 0 -14px;
}

.arrow-thinking-3 {
  background-position: 0 -27px;
}

.arrow-thinking-4 {
  background-position: 0 -42px;
}

/** Fountain Arrows **/
.arrow-down-s1 {
  width: 168px;
  height: 188px;
  background: url('/assets/images/arrow-down-s1.png?1408641114') no-repeat;
}

/* 36px*/
.grid {
  *zoom: 1;
  margin: 0 -3% 24px -3%;
}
.grid:before, .grid:after {
  content: " ";
  display: block;
}
.grid:after {
  clear: both;
}
@media (min-width: 740px) {
  .grid {
    margin: 0 -18px 24px -18px;
  }
}

[class*='col-'] {
  float: left;
  width: 100%;
  padding: 0 3%;
}
@media (min-width: 740px) {
  [class*='col-'] {
    padding: 0 18px;
  }
}

@media (min-width: 740px) {
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 740px) {
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 740px) {
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 740px) {
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 740px) {
  .col-1-4 {
    width: 25%;
  }
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #f47e20;
}

/*

.btn {
  display: block;
  padding: 0.75em 1.25em;
  background: $blue;
  border-radius: 5px;
  color: #fff;
  font: $semi 1em/1 $sans;
  text-transform: uppercase;
  text-align: center;
  
  &:hover {
    background: $dk-blue;
    color: #fff;
  }
  
  @include bp-min-width($medium) {
    display: inline-block;
  }
  
  &.red {
    background: $red;
    &:hover {
      background: $dk-red;
    }
  }
  
  &.green {
    background: $green;
    &:hover {
      background: $dk-green;
    }
  }
  
  &.orange {
    background: $orange;
    &:hover {
      background: $dk-orange;
    }
  }
  
  &.white {
    background: #fff;
    color: $navy;
    &:hover {
      background: $lt-grey;
    }
  }
    
}

.btn-large {
  font-size: 24px;
}
*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/**
* fullPage 2.1.9
* https://github.com/alvarotrigo/fullPage.js
* MIT licensed
*
* Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
*/
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: scroll;
}

.fp-easing {
  -webkit-transition: all 0.7s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.7s ease-out;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
}

.stage-1 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ceecfa), color-stop(100%, #c1e8fb));
  background: -webkit-linear-gradient(#ceecfa, #c1e8fb);
  background: -moz-linear-gradient(#ceecfa, #c1e8fb);
  background: -o-linear-gradient(#ceecfa, #c1e8fb);
  background: linear-gradient(#ceecfa, #c1e8fb);
}

.stage-2 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daf0f8), color-stop(100%, #ceecfa));
  background: -webkit-linear-gradient(#daf0f8, #ceecfa);
  background: -moz-linear-gradient(#daf0f8, #ceecfa);
  background: -o-linear-gradient(#daf0f8, #ceecfa);
  background: linear-gradient(#daf0f8, #ceecfa);
}

.stage-3 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f5f6), color-stop(100%, #daf0f8));
  background: -webkit-linear-gradient(#e8f5f6, #daf0f8);
  background: -moz-linear-gradient(#e8f5f6, #daf0f8);
  background: -o-linear-gradient(#e8f5f6, #daf0f8);
  background: linear-gradient(#e8f5f6, #daf0f8);
}

.stage-4 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4faf3), color-stop(100%, #e8f5f6));
  background: -webkit-linear-gradient(#f4faf3, #e8f5f6);
  background: -moz-linear-gradient(#f4faf3, #e8f5f6);
  background: -o-linear-gradient(#f4faf3, #e8f5f6);
  background: linear-gradient(#f4faf3, #e8f5f6);
}

.stage-5 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffef2), color-stop(100%, #f4faf3));
  background: -webkit-linear-gradient(#fffef2, #f4faf3);
  background: -moz-linear-gradient(#fffef2, #f4faf3);
  background: -o-linear-gradient(#fffef2, #f4faf3);
  background: linear-gradient(#fffef2, #f4faf3);
}

.stage-left,
.stage-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.stage-left {
  left: 0;
  padding: 40px 20px 40px 80px;
  border-right: 30.5px solid #6b6a6a;
}

.stage-right {
  right: 0;
  padding: 40px 80px 40px 60px;
  background: #fff;
  border-left: 31px solid #6b6a6a;
}

[data-segment] {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.fade-back {
  opacity: 0.25;
}

.triggers {
  position: absolute;
  top: 70px;
  right: 140px;
  color: #438e47;
  text-align: right;
}

.barriers {
  position: absolute;
  top: 160px;
  right: 240px;
  color: #d83945;
}
.barriers li {
  font-weight: 700;
}
.barriers [class*="arrow-"] {
  position: absolute;
  top: 10px;
  left: -90px;
}

.triggers h2,
.barriers h2 {
  margin-bottom: 6px;
}

.triggers li,
.barriers li {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.arrow-triggers {
  position: absolute;
  top: -50px;
  right: -90px;
  background: url('/assets/images/arrow-triggers.png?1408637448') no-repeat;
  width: 80px;
  height: 297px;
}

.stage-position {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 10px;
  font-style: italic;
}

.stage-title {
  margin-bottom: 10px;
}

.doing-thinking {
  padding-top: 20px;
}
.doing-thinking .col {
  float: left;
  width: 50%;
  padding-right: 60px;
}
.doing-thinking h3 {
  margin-bottom: 6px;
}
.doing-thinking p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin-bottom: 12px;
}

.doing-thinking li {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  margin-bottom: 24px;
}

.doing-thinking [class*="arrow-"] {
  position: absolute;
  top: 4px;
  left: -36px;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  left: 20px;
}

#fp-nav a {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #0fba70;
}
#fp-nav a.active {
  background: #fff;
  border: 3px solid #0fba70;
}
#fp-nav a span:before {
  font-size: 12px;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

#fp-nav .active span:before {
  color: #0fba70;
}

#fp-nav li {
  position: relative;
  margin-bottom: 30px;
}
#fp-nav li:last-child {
  margin-bottom: 0;
}

#fp-nav li:nth-child(1) span:before {
  content: "5";
}

#fp-nav li:nth-child(2) span:before {
  content: "4";
}

#fp-nav li:nth-child(3) span:before {
  content: "3";
}

#fp-nav li:nth-child(4) span:before {
  content: "2";
}

#fp-nav li:nth-child(5) span:before {
  content: "1";
}

#fp-nav li:nth-child(6) span:before {
  content: "B";
}

.fp-tooltip {
  font-size: 14px;
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  left: 30px;
  color: #0fba70;
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  text-transform: uppercase;
}

.stage-paths {
  position: absolute;
  top: 0;
  left: 50%;
  width: 61px;
  height: 100%;
  margin-left: -30px;
}

.stage-mood {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50px;
  z-index: 10;
}
.stage-mood .mood {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 4px 8px;
  background: #d8d9d8;
  border: 5px solid #4c4c4e;
  color: #4c4c4e;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.stage-paths [class*="path-"] {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
}

.stage-paths .path-1 {
  left: 9px;
  background: #a8268e;
}
.stage-paths .path-2 {
  left: 22px;
  background: #f47e20;
}
.stage-paths .path-3 {
  right: 22px;
  background: #aed137;
}
.stage-paths .path-4 {
  right: 9px;
  background: #0cb3da;
}

.stage-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background: #4c4c4e;
  border-top: 1px solid #282828;
}
.stage-footer a {
  font-size: 15px;
  font-size: 0.9375rem;
  display: block;
  float: left;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.recomend-link {
  float: left;
  height: 66px;
  padding: 20px 20px 0 60px;
}

.segment-nav {
  float: right;
}
.segment-nav a {
  position: relative;
  height: 66px;
  padding: 20px 30px 0 100px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
}
.segment-nav a:first-child {
  padding: 20px 30px;
}
.segment-nav a:last-child {
  max-width: 270px;
  padding-top: 14px;
  line-height: 18px;
}
.segment-nav a:hover, .segment-nav a.active {
  background: #282828;
}
.segment-nav [class*="icon-"] {
  position: absolute;
  left: 34px;
  top: 6px;
}

.timeline {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #7fbfb9), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #7fbfb9, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #7fbfb9, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #7fbfb9, #ffffff);
  background-image: linear-gradient(#ffffff, #7fbfb9, #ffffff);
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
.timeline .time-length {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding-left: 62px;
  text-align: center;
}
.timeline .time-length .label {
  text-transform: uppercase;
}
.timeline .time-span {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  background: repeating-linear-gradient(to bottom, white, white 2px, transparent 2px, transparent 20px);
  background-size: 100% 12px;
}

.header {
  background: #0cb3da;
}
.header .wrapper {
  padding: 12px 0;
}
@media (min-width: 740px) {
  .header .wrapper {
    padding: 24px 0;
  }
}

.logo {
  float: left;
  font-size: 19px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 740px) {
  .logo {
    line-height: 1;
  }
}
.logo a {
  color: #fff;
}
.logo a:hover {
  color: #fff;
}

.main-nav {
  position: relative;
}
@media (min-width: 740px) {
  .main-nav {
    float: right;
  }
}

.main-nav ul {
  display: none;
  clear: both;
  width: 100%;
  background: #0cb3da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
@media (min-width: 740px) {
  .main-nav ul {
    display: block;
    background: no-repeat;
  }
}
.main-nav ul.show {
  display: block;
}

.main-nav li {
  float: none;
  margin: 0;
}
@media (min-width: 740px) {
  .main-nav li {
    float: left;
    margin-left: 50px;
  }
}

.main-nav li a {
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: 600;
}
.main-nav li a:hover, .main-nav li a.active {
  color: #fff;
}
@media (min-width: 740px) {
  .main-nav li a {
    display: inline-block;
    padding: 0;
  }
  .main-nav li a:hover, .main-nav li a.active {
    color: #fff;
    background: none;
  }
}

/** Mobile Menu Button **/
.mobile-menu-btn {
  float: right;
  display: inline-block;
  position: relative;
  padding: 0.5em 0.5em 0.5em 2.5em;
  text-transform: uppercase;
}
.mobile-menu-btn.active {
  display: inline-block;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 740px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-menu {
  display: block;
  position: absolute;
  left: 11px;
  top: 8px;
  background: none;
}
.mobile-menu-btn .icon-menu .bar {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  background: #fff;
  border-radius: 2px;
}

.mobile-menu-btn.active .bar {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #fff;
}
.mobile-menu-btn.active .bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu-btn.active .bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-menu-btn.active .bar:nth-child(3) {
  opacity: 0;
}

.mobile-menu-btn.active .bar:nth-child(2) {
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #fff;
}

.mobile-menu-btn.active .bar:nth-child(3) {
  display: none;
}

.footer {
  *zoom: 1;
  background: #a0a0a0;
}
.footer:before, .footer:after {
  content: " ";
  display: block;
}
.footer:after {
  clear: both;
}

.footer-nav {
  text-align: center;
}
@media (min-width: 740px) {
  .footer-nav {
    float: left;
  }
}
.footer-nav li {
  text-align: center;
}
@media (min-width: 740px) {
  .footer-nav li {
    float: left;
    margin-right: 2em;
    font-size: 14px;
  }
}

.footer-nav a {
  display: block;
  padding: 0.25em 0;
}
@media (max-width: 600px) {
  .footer-nav a {
    display: inline-block;
    padding: 0;
  }
}

.footer .follow-us {
  margin-bottom: 24px;
  text-align: center;
}
@media (min-width: 740px) {
  .footer .follow-us {
    float: right;
  }
}
@media (min-width: 740px) {
  .footer .follow-us li {
    float: left;
    margin-left: 1em;
  }
}

.copyright {
  clear: both;
  padding-top: 18px;
}
.copyright p {
  font-size: 15px;
  text-align: center;
}

.bottom {
  background: #4c4c4e;
  color: #fff;
  text-align: center;
}

.stage-1 .stage-right {
  padding-top: 200px;
}

.stage-1 .stage-left {
  background: url('/assets/images/bg-s1.png?1408641583') no-repeat right top;
}

.stage-1 .triggers {
  top: 84px;
}

.stage-1 .barriers {
  top: 194px;
  right: 210px;
}

.stage-1 .violations {
  top: 476px;
}

.stage-1 .pool {
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  right: 180px;
  bottom: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

.stage-2 .stage-left {
  background: url('/assets/images/bg-s2.png?1408641995') no-repeat right top;
}

.stage-2 .triggers {
  top: 84px;
}

.stage-2 .barriers {
  top: 460px;
  right: 230px;
}

.stage-3 .stage-left {
  background: url('/assets/images/bg-s3.png?1408642667') no-repeat right top;
}

.stage-3 .triggers {
  top: 84px;
}

.stage-3 .barriers {
  top: 460px;
  right: 170px;
}

.stay-s3 {
  position: absolute;
  top: 250px;
  right: 20px;
}
