@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic,700italic);
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #4c4c4e;
  font-family: "Open Sans", Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 44px;
  font-size: 2.75rem;
  margin-left: -4px;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
}

p {
  letter-spacing: 0.02em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.label {
  font-weight: 700;
}

.body p,
.body ul,
.body ol {
  margin-bottom: 24px;
}
.body p:last-child, .body p.label,
.body ul:last-child,
.body ul.label,
.body ol:last-child,
.body ol.label {
  margin-bottom: 0;
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}

[class*="icon-"] {
  display: inline-block;
}

.icon-recommendations {
  width: 25px;
  height: 23px;
  background: url('/assets/images/icon-recommendations.png?1408680802') no-repeat;
}

.icon-close {
  width: 39px;
  height: 39px;
  background: url('/assets/images/icon-close.svg?1409079143') no-repeat;
}

.icon-enthusiasts {
  width: 47px;
  height: 50px;
  background: url('/assets/images/icon-enthusiasts.svg?1411503498') no-repeat;
}

.icon-flexibles {
  width: 47px;
  height: 51px;
  background: url('/assets/images/icon-flexibles.svg?1411503539') no-repeat;
}

.icon-indulgers {
  width: 47px;
  height: 51px;
  background: url('/assets/images/icon-indulgers.svg?1408637448') no-repeat;
}

.icon-traditionals {
  width: 51px;
  height: 52px;
  background: url('/assets/images/icon-traditionals.svg?1411502071') no-repeat;
}

.icon-hispanics {
  width: 47px;
  height: 50px;
  background: url('/assets/images/icon-hispanics.svg?1411500751') no-repeat;
}

[class*="icon-mood-"] {
  position: relative;
  z-index: 10;
  display: block;
  margin: 0 auto -4px;
  background: url('/assets/images/sprite-moods.svg?1408998943') no-repeat;
}

.icon-mood-angry {
  width: 84px;
  height: 92px;
  background-position: 0 -397px;
}

.icon-mood-hopeful {
  width: 84px;
  height: 92px;
  background-position: 0 -297px;
}

.icon-mood-frustrated {
  width: 84px;
  height: 92px;
  background-position: 0 -197px;
}

.icon-mood-determined {
  width: 84px;
  height: 92px;
  background-position: 0 -99px;
}

.icon-mood-excited {
  width: 84px;
  height: 92px;
}

.modal-segments-01 {
  width: 272px;
  height: 93px;
  background: url('/assets/images/modal-segments-01.svg?1409076235') no-repeat;
}

.modal-segments-02 {
  width: 130px;
  height: 64px;
  background: url('/assets/images/modal-segments-02.svg?1409076027') no-repeat;
}

.bubbles {
  width: 82px;
  height: 303px;
  background: url('/assets/images/bubbles.png?1408641804') no-repeat;
}

.circle-stay-s3 {
  width: 251px;
  height: 173px;
  background: url('/assets/images/circle-stay-s3.png?1408643525') no-repeat;
}

[class*="arrow-"] {
  display: inline-block;
}

.arrows-all {
  width: 18px;
  height: 41px;
  background: url('/assets/images/arrows-all.svg?1411498783') no-repeat;
}

.arrow-up-full-view {
  width: 115px;
  height: 115px;
  background: url('/assets/images/arrow-up-full-view.png?1408720721') no-repeat;
}

.arrow-left-purple-s3 {
  width: 117px;
  height: 11px;
  background: url('/assets/images/arrow-left-purple-s3.png?1408642816') no-repeat;
}

[class*="arrow-thinking-"] {
  background: url('/assets/images/arrows.svg?1411505143') no-repeat;
  width: 31px;
  height: 11px;
}

.arrow-thinking-2 {
  background-position: 0 -14px;
}

.arrow-thinking-3 {
  background-position: 0 -27px;
}

.arrow-thinking-4 {
  background-position: 0 -42px;
}

.arrow-thinking-5 {
  background-position: 0 -57px;
}

.arrow-down-s1 {
  width: 168px;
  height: 188px;
  background: url('/assets/images/arrow-down-s1.png?1408641114') no-repeat;
}

/*
  position: absolute;
  top: 0;
  bottom: 0;
*/
.col-left,
.col-right {
  *zoom: 1;
  position: relative;
  float: left;
  width: 50%;
  min-width: 700px;
  height: 100%;
  min-height: 780px;
}
.col-left:before, .col-left:after,
.col-right:before,
.col-right:after {
  content: " ";
  display: block;
}
.col-left:after,
.col-right:after {
  clear: both;
}

.col-left {
  left: 0;
}

.col-right {
  right: 0;
}

.col-1-2 {
  float: left;
  width: 50%;
}

body, html {
  width: 100%;
  height: 100%;
}

#fullpage {
  min-width: 1400px;
}

.section {
  position: relative;
  min-height: 700px;
}

.content-wrapper {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

a {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #f47e20;
}

.slide-up-btn {
  cursor: pointer;
}

/*

.btn {
  display: block;
  padding: 0.75em 1.25em;
  background: $blue;
  border-radius: 5px;
  color: #fff;
  font: $semi 1em/1 $sans;
  text-transform: uppercase;
  text-align: center;
  
  &:hover {
    background: $dk-blue;
    color: #fff;
  }
  
  @include bp-min-width($medium) {
    display: inline-block;
  }
  
  &.red {
    background: $red;
    &:hover {
      background: $dk-red;
    }
  }
  
  &.green {
    background: $green;
    &:hover {
      background: $dk-green;
    }
  }
  
  &.orange {
    background: $orange;
    &:hover {
      background: $dk-orange;
    }
  }
  
  &.white {
    background: #fff;
    color: $navy;
    &:hover {
      background: $lt-grey;
    }
  }
    
}

.btn-large {
  font-size: 24px;
}
*/
.animated {
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -o-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -o-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-o-keyframes waterDrop {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}

@-moz-keyframes waterDrop {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}

@-webkit-keyframes waterDrop {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}

@-keyframes waterDrop {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 500px, 0);
  }
}

@-o-keyframes waterDropSmall {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

@-moz-keyframes waterDropSmall {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

@-webkit-keyframes waterDropSmall {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

@-keyframes waterDropSmall {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  padding-bottom: 66px;
  background: rgba(255, 255, 255, 0.96);
}
.modal.active {
  display: block;
}

.modal .icon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 40;
}

.modal .col-1-2:last-child {
  padding-left: 60px;
}
.modal .col-1-2:last-child h3 {
  margin-bottom: 8px;
}

.modal .col-left .content-wrapper {
  padding-left: 100px;
}

.modal .col-right .content-wrapper {
  padding: 0 60px 0 80px;
}

.modal .col-left h3 {
  margin-bottom: 4px;
}
.modal .col-left p {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 16px;
}
.modal .col-left [class*="modal-segments-"] {
  margin-bottom: 16px;
}

.modal .stage-header {
  margin-bottom: 24px;
}

.recommendation-content h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}
.recommendation-content h3 {
  margin-bottom: 6px;
}
.recommendation-content p {
  margin-bottom: 16px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 21px;
  line-height: 1.3125rem;
}
.recommendation-content li {
  margin-bottom: 16px;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
}

.stage {
  *zoom: 1;
  position: relative;
  width: 100%;
  height: 100%;
}
.stage:before, .stage:after {
  content: " ";
  display: block;
}
.stage:after {
  clear: both;
}

.stage-1 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ceecfa), color-stop(100%, #c1e8fb));
  background: -webkit-linear-gradient(#ceecfa, #c1e8fb);
  background: -moz-linear-gradient(#ceecfa, #c1e8fb);
  background: -o-linear-gradient(#ceecfa, #c1e8fb);
  background: linear-gradient(#ceecfa, #c1e8fb);
}

.stage-2 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daf0f8), color-stop(100%, #ceecfa));
  background: -webkit-linear-gradient(#daf0f8, #ceecfa);
  background: -moz-linear-gradient(#daf0f8, #ceecfa);
  background: -o-linear-gradient(#daf0f8, #ceecfa);
  background: linear-gradient(#daf0f8, #ceecfa);
}

.stage-3 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8f5f6), color-stop(100%, #daf0f8));
  background: -webkit-linear-gradient(#e8f5f6, #daf0f8);
  background: -moz-linear-gradient(#e8f5f6, #daf0f8);
  background: -o-linear-gradient(#e8f5f6, #daf0f8);
  background: linear-gradient(#e8f5f6, #daf0f8);
}

.stage-4 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4faf3), color-stop(100%, #e8f5f6));
  background: -webkit-linear-gradient(#f4faf3, #e8f5f6);
  background: -moz-linear-gradient(#f4faf3, #e8f5f6);
  background: -o-linear-gradient(#f4faf3, #e8f5f6);
  background: linear-gradient(#f4faf3, #e8f5f6);
}

.stage-5 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffef2), color-stop(100%, #f4faf3));
  background: -webkit-linear-gradient(#fffef2, #f4faf3);
  background: -moz-linear-gradient(#fffef2, #f4faf3);
  background: -o-linear-gradient(#fffef2, #f4faf3);
  background: linear-gradient(#fffef2, #f4faf3);
}

.stage-left {
  padding: 40px 50px 40px 80px;
  border-right: 30px solid #4c4c4e;
}

.stage-right {
  padding: 40px 80px 40px 60px;
  background: #fff;
  border-left: 30px solid #4c4c4e;
}

[data-segment] {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.fade-back {
  opacity: 0.25;
}

.triggers {
  opacity: 0;
  position: absolute;
  top: 70px;
  right: 140px;
  color: #438e47;
  text-align: right;
  font-weight: 700;
}

.barriers {
  position: absolute;
  top: 160px;
  right: 240px;
  color: #d83945;
  font-weight: 700;
}
.barriers [class*="arrow-"] {
  position: absolute;
  top: 10px;
  left: -90px;
}

.triggers h2,
.barriers h2 {
  margin-bottom: 6px;
}

.triggers li,
.barriers li {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.arrow-triggers {
  position: absolute;
  top: -50px;
  right: -90px;
  background: url('/assets/images/arrow-triggers.png?1408637448') no-repeat;
  width: 80px;
  height: 297px;
}

.arrow-triggers-hisp {
  position: absolute;
  top: -10px;
  left: 0;
  background: url('/assets/images/arrow-triggers-hisp.png?1411505877') no-repeat;
  width: 80px;
  height: 140px;
}

.water-drops {
  position: absolute;
  top: 300px;
  right: 510px;
  width: 80px;
  height: 200px;
}
.water-drops .drop {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  background: #6ea3d2;
  border-radius: 50%;
}
.water-drops .drop:nth-child(2) {
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  width: 8px;
  height: 8px;
}
.water-drops .drop:nth-child(3) {
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  width: 6px;
  height: 6px;
}
.water-drops .drop:nth-child(4) {
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  width: 3px;
  height: 3px;
}
.water-drops .drop:nth-child(5) {
  -o-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  width: 9px;
  height: 9px;
}
.water-drops .drop:nth-child(6) {
  -o-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.stage-1 .water-drops .drop {
  -o-animation-name: waterDropSmall;
  -moz-animation-name: waterDropSmall;
  -webkit-animation-name: waterDropSmall;
  animation-name: waterDropSmall;
  -o-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.stage-2 .water-drops {
  top: 250px;
}
.stage-2 .water-drops .drop {
  -o-animation-name: waterDrop;
  -moz-animation-name: waterDrop;
  -webkit-animation-name: waterDrop;
  animation-name: waterDrop;
  -o-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.stage-3 .water-drops {
  top: 220px;
}
.stage-3 .water-drops .drop {
  -o-animation-name: waterDrop;
  -moz-animation-name: waterDrop;
  -webkit-animation-name: waterDrop;
  animation-name: waterDrop;
  -o-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.stage-4 .water-drops {
  top: 220px;
}
.stage-4 .water-drops .drop {
  -o-animation-name: waterDrop;
  -moz-animation-name: waterDrop;
  -webkit-animation-name: waterDrop;
  animation-name: waterDrop;
  -o-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.stage-5 .water-drops {
  top: 380px;
  right: 360px;
}
.stage-5 .water-drops .drop {
  -o-animation-name: waterDropSmall;
  -moz-animation-name: waterDropSmall;
  -webkit-animation-name: waterDropSmall;
  animation-name: waterDropSmall;
  -o-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.stage-position {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 10px;
  font-style: italic;
}

.stage-title {
  margin-bottom: 10px;
}

.doing-thinking {
  padding-top: 20px;
}
.doing-thinking .col {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 60px;
}
.doing-thinking h3 {
  margin-bottom: 6px;
}
.doing-thinking h3 .label-all {
  margin-left: 4px;
  font-size: 11px;
  font-style: italic;
  text-transform: none;
}
.doing-thinking p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin-bottom: 12px;
}
.doing-thinking .arrows-all {
  position: absolute;
  top: 3px;
  left: -25px;
}

.doing-thinking li {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  margin-bottom: 24px;
}

.doing-thinking [class*="arrow-"] {
  position: absolute;
  top: 4px;
  left: -38px;
}

.section-nav {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  left: 20px;
  z-index: 100;
  opacity: 1;
  margin-top: -32px;
}

.section-nav a {
  font-size: 12px;
  font-size: 0.75rem;
  position: relative;
  z-index: 20;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #0fba70;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  line-height: 1.9;
}
.section-nav a.active {
  background: #fff;
  border: 3px solid #0fba70;
  color: #0fba70;
  line-height: 1.5;
}

.section-nav li {
  position: relative;
  margin-bottom: 30px;
}
.section-nav li:last-child {
  margin-bottom: 0;
}

.tooltip {
  font-size: 14px;
  font-size: 0.875rem;
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px 10px 2px 34px;
  background: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #4c4c4e;
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  font-weight: 700;
  white-space: nowrap;
  max-width: 220px;
  text-transform: uppercase;
}

.stage-paths {
  position: absolute;
  top: 0;
  left: 50%;
  width: 66px;
  height: 100%;
  margin-left: -33px;
  background: #6c6c6c;
}

.stage-mood {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50px;
  z-index: 10;
}
.stage-mood .mood {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 4px 8px;
  background: #d8d9d8;
  border: 5px solid #4c4c4e;
  color: #4c4c4e;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.stage-paths [class*="path-"] {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
}
.stage-paths [class*="path-"].path-end {
  top: 160px;
}

.stage-paths .path-5 {
  left: 7px;
  background: #115663;
}
.stage-paths .path-1 {
  left: 19px;
  background: #a8268e;
}
.stage-paths .path-2 {
  left: 31px;
  background: #f47e20;
}
.stage-paths .path-3 {
  right: 19px;
  background: #aed137;
}
.stage-paths .path-4 {
  right: 7px;
  background: #0cb3da;
}

.stage-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  min-width: 1400px;
  background: #6c6c6c;
  border-top: 1px solid #282828;
}
.stage-footer a {
  font-size: 13px;
  font-size: 0.8125rem;
  display: block;
  float: left;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.recomend-link {
  position: relative;
  float: left;
  height: 66px;
  padding: 20px 30px 0 30px;
  background: #4c4c4e;
}
.recomend-link:hover {
  background: #282828;
}
.recomend-link.active {
  background: #d83945;
}
.recomend-link.active:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d83945;
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}
.recomend-link .icon-recommendations {
  margin-right: 8px;
  vertical-align: -6px;
}

.segment-nav {
  float: right;
}
.segment-nav a {
  position: relative;
  height: 66px;
  padding: 20px 20px 0 80px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
}
.segment-nav a:first-child {
  padding: 20px 30px;
}
.segment-nav a:nth-child(5) {
  max-width: 220px;
  padding-top: 14px;
  line-height: 18px;
}
.segment-nav a:hover, .segment-nav a.active {
  background: #282828;
}
.segment-nav [class*="icon-"] {
  position: absolute;
  left: 20px;
  top: 6px;
}

.timeline {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #7fbfb9), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #7fbfb9, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #7fbfb9, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #7fbfb9, #ffffff);
  background-image: linear-gradient(#ffffff, #7fbfb9, #ffffff);
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
.timeline .time-length {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding-left: 62px;
  text-align: center;
}
.timeline .time-length .label {
  text-transform: uppercase;
}
.timeline .time-span {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  background: repeating-linear-gradient(to bottom, white, white 2px, transparent 2px, transparent 20px);
  background-size: 100% 12px;
}

.full-view {
  height: 850px;
  background: #6c6c6c url('/assets/images/bg-full-view-gradient.jpg?1411589504') repeat-x left top;
}

.full-fountain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/bg-full-view.jpg?1411587721') no-repeat center top;
}

.full-view-left,
.full-view-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.full-view-left {
  left: 0;
}

.full-view-right {
  right: 0;
}

.full-view .scroll-directions,
.full-view-right h3,
.full-view-right .number {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.full-view-right h3 {
  margin-bottom: 2px;
}

.full-view-right p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  max-width: 260px;
  font-weight: 600;
}

.full-view-left .scroll-up-block {
  position: absolute;
  top: 260px;
  right: 200px;
  z-index: 20;
  width: 380px;
  padding: 32px 0 0 140px;
}
.full-view-left .scroll-up-block .arrow-up-full-view {
  position: absolute;
  top: 0;
  left: 0;
}

.full-view [class*="stage-label-"] {
  position: absolute;
  left: 280px;
  z-index: 20;
}
.full-view [class*="stage-label-"] .number {
  position: absolute;
  top: 0;
  left: -88px;
  width: 80px;
  text-align: right;
}

.stage-label-5 {
  top: 78px;
}

.stage-label-4 {
  top: 162px;
}

.stage-label-3 {
  top: 314px;
}

.stage-label-2 {
  top: 442px;
}

.stage-label-1 {
  top: 558px;
}

.dish-logo {
  position: fixed;
  top: 36px;
  left: 72px;
  z-index: 20;
}
.dish-logo h4 {
  font-size: 11px;
  font-size: 0.6875rem;
  display: block;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.dish-logo .logo {
  width: 70px;
  height: 30px;
  margin-bottom: 8px;
  background: url('/assets/images/logo-dish.png?1408987684') no-repeat;
}

.intro {
  min-height: 880px;
  background: #6c6c6c;
  color: #fff;
}
.intro h2 {
  font-size: 44px;
  font-size: 2.75rem;
  font-weight: 300;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.intro h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 4px;
  font-weight: 700;
  text-transform: none;
}
.intro p {
  font-size: 14px;
  font-size: 0.875rem;
}

.intro-section [data-segment] {
  position: absolute;
}
.intro-section [data-segment]:nth-child(2) {
  top: 174px;
}
.intro-section [data-segment]:nth-child(3) {
  top: 278px;
}
.intro-section [data-segment]:nth-child(4) {
  top: 400px;
}
.intro-section [data-segment]:nth-child(5) {
  top: 512px;
}
.intro-section [data-segment]:nth-child(6) {
  top: 618px;
}

.intro-left,
.intro-right {
  padding: 86px 140px 0;
}

.intro-left {
  text-align: right;
}
.intro-left h2 {
  margin-right: -4px;
}
.intro-left [data-segment] {
  right: 140px;
  padding-left: 140px;
}

.intro-right [data-segment] {
  left: 140px;
  padding-right: 140px;
}
.intro-right .position {
  position: absolute;
  top: 60px;
  left: 140px;
  font-style: italic;
}

.segment-paths {
  position: absolute;
  top: 0;
  left: 50%;
  width: 199px;
  margin-left: -99px;
}
.segment-paths [class*="path-"] {
  position: absolute;
  top: 0;
}

.path-enthusiasts {
  left: 54px;
  width: 91px;
  height: 246px;
  background: url('/assets/images/path-enthusiasts.png?1411503147') no-repeat;
}

.path-flexibles {
  right: 34px;
  width: 111px;
  height: 359px;
  background: url('/assets/images/path-flexibles.png?1411503198') no-repeat;
}

.path-indulgers {
  left: 28px;
  width: 118px;
  height: 473px;
  background: url('/assets/images/path-indulgers.png?1411503015') no-repeat;
}

.path-traditionals {
  right: 16px;
  width: 132px;
  height: 588px;
  background: url('/assets/images/path-traditionals.png?1411503252') no-repeat;
}

.path-hispanics {
  left: 12px;
  width: 134px;
  height: 700px;
  background: url('/assets/images/path-hispanics.png?1411502851') no-repeat;
}

.stage-1 .stage-right {
  padding-top: 200px;
}

.stage-1 .stage-left {
  background: url('/assets/images/bg-s1.png?1408641583') no-repeat right top;
}

.stage-1 .triggers {
  top: 84px;
}

.stage-1 .barriers {
  top: 194px;
  right: 210px;
}

.stage-1 .violations {
  top: 476px;
}

.stage-1 .pool {
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  right: 180px;
  bottom: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

.stage-2 .stage-left {
  background: url('/assets/images/bg-s2.png?1408641995') no-repeat right top;
}

.stage-2 .triggers {
  top: 84px;
}

.stage-2 .barriers {
  top: 460px;
  right: 230px;
}

.stage-3 .stage-left {
  background: url('/assets/images/bg-s3.png?1408642667') no-repeat right top;
}

.stage-3 .triggers {
  top: 84px;
}

.stage-3 .barriers {
  top: 460px;
  right: 170px;
}

.stay-s3 {
  position: absolute;
  top: 250px;
  right: 20px;
}

.stage-4 .stage-left {
  background: url('/assets/images/bg-s4.png?1408658389') no-repeat right top;
}

.stage-4 .paths-circles {
  position: absolute;
  top: 0;
  right: 0;
  width: 515px;
  height: 612px;
  background: url('/assets/images/paths-circles-s4.png?1411505364') no-repeat;
}

.stage-4 .triggers {
  top: 60px;
}

.stage-4 .barriers {
  top: 630px;
  right: 280px;
}

.stage-5 .stage-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/bg-s5.png?1408659380') no-repeat center top;
}

.stage-5 .stage-right,
.stage-5 .stage-paths {
  margin-top: 389px;
  min-height: 400px;
}

.stage-5 .stage-right {
  padding-top: 28px;
  padding-left: 80px;
  border: none;
}

.stage-5 .stage-left {
  border: none;
}

.stage-5 .circles {
  position: absolute;
  top: 0;
  right: 302px;
  width: 355px;
  height: 386px;
  background: url('/assets/images/circles-s5.png?1411505509') no-repeat;
}

.stage-5 .arrows {
  position: absolute;
  top: 396px;
  right: 470px;
  width: 25px;
  height: 100%;
  background: url('/assets/images/arrows-s5.png?1408662046') no-repeat;
}

.stage-5 .triggers {
  top: 60px;
  right: 90px;
  text-align: left;
}
.stage-5 .triggers.hispanic {
  top: 410px;
  right: 50px;
  width: 310px;
  padding-left: 100px;
  color: #115663;
}
.stage-5 .triggers.hispanic li:first-child {
  font-size: 12px;
  font-size: 0.75rem;
  font-style: italic;
}

.stage-5 .barriers {
  top: 560px;
  right: 120px;
}

.stage-5 .urgency-note {
  font-size: 12px;
  font-size: 0.75rem;
  clear: both;
  padding-top: 20px;
  font-style: italic;
}
